@import url(./header.css);
@import url(./main_screen.css);
@import url(./about.css);
@import url(./imports.css);
@import url(./team.css);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: auto;   
}
html {
    font-family: "Montserrat";
    font-size: 16px;
    color: rgb(70, 70, 70);
}

